/* ========================================
   ROBOTO FONT FAMILY
   ======================================== */

/* Roboto Regular */
@font-face {
    font-family: 'Roboto';
    src: url('../../../font/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
